#friren{
    background: url(./img/image\ 27.png) no-repeat center/cover;
    min-width: 100vh;
    min-height: 100vh;
}
.friren2{
    margin-left: 20px;
}
.lol{
    margin-top: 220px;
    margin-left: 147px;
}
.olo{
    margin-left: 325px;
    margin-top: -370px;
}
.kok{
    margin-left: 1110px;
    margin-top: -40px;
}
.yt{
    margin-top: 300px;
    margin-left: 129px;
}
.bmw{
    margin-left: 565px;
    margin-top: -220px;
}
.sapnap{
    margin-left: 65px;
    margin-top: 100px;
}
.kola{
    margin-left: 138px;
    margin-top: 30px;
}
.pepsi{
    margin-left: 134px;
    margin-top: 30px;
}
.fanta{
    margin-left: 138px;
    margin-top: 50px;
}
.sprite{
    margin-left: 138px;
    margin-top: 30px;
}
.termin{
    margin-left: 90px;
    margin-top: -40px;
}
.ffa{
    width: 450px;
height: 30px;
margin-top: -35px;
margin-left: 230px;
}
.rew{
    margin-left: 90px;
    margin-top: -35px;
}
.pol{
    margin-left: 90px;
    margin-top: -40px;
}